%%%=============================================================================
%%%
%%%               |  o __   _|  _  __  |_   _       _ _   (TM)
%%%               |_ | | | (_| (/_ | | |_) (_| |_| | | |
%%%
%%% Copyright (c) 2016 Lindenbaum GmbH
%%%
%%% Permission to use, copy, modify, and/or distribute this software for any
%%% purpose with or without fee is hereby granted, provided that the above
%%% copyright notice and this permission notice appear in all copies.
%%%
%%% THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
%%% WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
%%% MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
%%% ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
%%% WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
%%% ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
%%% OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
%%%=============================================================================

{relx,
 [
  {release,
   {http2smtp, "1.0.0"},
   [
    %% Erlang/OTP
    kernel,
    stdlib,
    sasl,
    crypto,

    %% third-party
    cf,
    cowboy,
    cowlib,
    erlang_localtime,
    erlware_commons,
    gen_smtp,
    qdate,
    ranch,

    %% project
    http2smtp
   ]},
  {sys_config, "./config/sys.config"},
  {dev_mode, false},
  {include_erts, true}
 ]}.

{deps,
 [
  {cowboy, "1.0.4"},
  {gen_smtp, "0.11.0"},
  {qdate, "0.4.3"}
 ]}.
